<script type="text/ng-template" id="main.html">
  <ul class="members">
    <li ng-repeat="member in members" class="members__member">
      <div ng-show="!member.isEditorShow" class="members__summary">
        <span class="members__name--summary">{{member.name}}</span>
        <input type="checkbox"
          ng-checked="member.isAwaken"
          ng-click="member.isAwaken=!member.isAwaken"
          ng-model="member.isAwaken"
          class="members__state--awake">
        <a href="javascript:void(0)" ng-click="showEdit(member)" class="members__edit">編集</a>
      </div>
      <div ng-show="member.isEditorShow" class="members__edit">
        名前: <input type="text" ng-model="member.name"><br>
        <span ng-show="member.isAwaken">起きてる</span>
        <span ng-show="!member.isAwaken">まだ寝てる</span><br>
        <a href="javascript:void(0)" ng-click="save(member)">変更する</a>
        <a href="javascript:void(0)" ng-click="delete(member)">メンバーを削除</a>
        <a href="javascript:void(0)" ng-click="hideEdit(member)">閉じる</a>
      </div>
    </li>
  </ul>

  <a href="javascript:void(0)" ng-click="createWakeUpMail()">起床メールを作成する</a>
  <div ng-show="awakenMembers" class="members--awaken">
    <div ng-repeat="member in awakenMembers">{{member}}</div>
  </div>
</script>
