.bar.bar-tab
  a.tab-item(href="#/")
    span.icon.icon-home
    span.tab-label メンバー
  a.tab-item(href="#/team/")
    span.icon.icon-list
    span.tab-label チーム分け
  a.tab-item(href="#/spy/")
    span.icon.icon-person
    span.tab-label スパイ戦
