<script type="text/ng-template" id="contents/spy.html">
  <h2>スパイ決め</h2>
  <a href="javascript:void(0)" ng-click="modalShow = true">スパイを決める</a><br>
  <div ng-show="!modalShow">
    <div class="teams">
      <div class="team  team--red">
        <div class="team__amount">赤: {{teams.first.length}}人</div>
        <a ng-show="isSpyAssigned" ng-click="checkSpy('first')" href="javascript:void(0)">スパイを確認する</a>
        <ul class="members">
          <li class="members__member" ng-repeat="member in teams.first">{{member.name}}</li>
        </ul>
      </div>
      <div class="team  team--yellow">
        <div class="team__amount">黄: {{teams.second.length}}人</div>
        <a ng-show="isSpyAssigned" ng-click="checkSpy('second')" href="javascript:void(0)">スパイを確認する</a>
        <ul class="members">
          <li class="members__member" ng-repeat="member in teams.second">{{member.name}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-show="modalShow" class="modal">
    スパイを決めますか？<br>
    <a ng-click="assignSpy()" href="javascript:void(0)">決める</a>
    <a ng-click="modalShow = !modalShow" href="javascript:void(0)">キャンセル</a>
  </div>

  <div ng-show="showFirstSpy">
    <div ng-show="!showSpy">
      あなたは赤チームですか？<br>
      <a ng-click="showSpy = !showSpy" href="javascript:void(0)">はい</a>
    </div>
    <div ng-show="showSpy">
      黄チームのスパイは{{teams.spy.first.name}}さんです<br>
      <a ng-click="closeSpyModal()" href="javascript:void(0)">閉じる</a>
    </div>
  </div>

  <div ng-show="showSecondSpy">
    <div ng-show="!showSpy">
      あなたは黄チームですか？<br>
      <a ng-click="showSpy = !showSpy" href="javascript:void(0)">はい</a>
    </div>
    <div ng-show="showSpy">
      赤チームのスパイは{{teams.spy.second.name}}さんです<br>
      <a ng-click="closeSpyModal()" href="javascript:void(0)">閉じる</a>
    </div>
  </div>
</script>
